.FeedLayout{
    display: flex;
    flex-direction: row;
    color: white;
}
.FeedLayout-AppName{
    display: flex;
    flex-direction:row;
    color:#4960F4;
    justify-content: center;
    gap: 10px;
}

.FeedLayout-AppName span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
}

.FeedLayout-AppName-icon{
    font-size: 60px;
}

.FeedLayout-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FeedLayout-Logout{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color:#4960F4;

    font-size: 24px;
    font-weight: 700;
}

.FeedLayout-Logout-icon{
    font-size: 25px;
    font-weight: 900;
}

.FeedLayout-leftPanel-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
}