.ModalStatistics-container{
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    color: white;

    box-sizing: border-box;
    width: 570px !important;
    height: 730px !important;
    border: 2px solid var(--blue-lavanda) !important;
    border-radius: 70px;
}

.ModalStatistics-header{
    display: flex;
    flex-direction: column;
}

.ModalStatistics-header h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    color: var(--blue-lavanda);
}

.ModalStatistics-body h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: var(--blue-lavanda);
}

.ModalStatistics-header-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.ModalStatistics-general-row{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ModalStatistics-letter{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
}

.ModalStatistics-letter.letter{
    color: #FFFFFF;
}

.ModalStatistics-letter.volunteer{
    color: var(--paint);
}

.ModalStatistics-letter.org{
    color: var(--heart);
}

.ModalStatistics-header-data{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 30px;
}

.ModalStatistics-Pie{
    width: 100px;
    height: 100px;
    margin-top: -150px;
}