.ForgotPassword-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    gap: 20px;
    width: 80%;
}

.FPstep1-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    gap: 20px;
}

.FPstep2-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    gap: 20px;
}

.FPstep3-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    gap: 20px;
}

.ForgotPassword-buttons{
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: space-between;
    gap: 80px;
}

.ForgotPassword-btn-send{
    box-sizing: border-box;
    width: 110px;
    height: 50px;

    background: var(--blue-lavanda);
    border: 3px solid var(--blue-lavanda);
    border-radius: 50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;

    color: var(--blue-dark);
}

.ForgotPassword-btn-signup{
    box-sizing: border-box;
    width: 110px;
    height: 50px;

    background: transparent;
    border: 3px solid var(--blue-lavanda);
    border-radius: 50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;

    color: var(--blue-lavanda);
}

.Forgot-Password-recover{
    width: 125px !important;
}

.ForgotPassword-inputs-complete{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.ForgotPassword-input{
    color: #ffffff;
    background-color: transparent;
    border: 0;
    width: 460px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Roboto';
    outline:none;
}

.ForgotPassword-input::placeholder {
    color: #ffffff;
}

.ForgotPassword-input-line{
    width: 470px;
    height: 0px;
    border: 1px solid var(--blue-lavanda);
    margin-bottom: 20px;
    margin-top: 5px;
}

.ForgotPassword-Message{
    color: #ffffff;
    width: fit-content;
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 100;
    margin-top: 10px;
}

.FPstep2-Input-Container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

.FPstep2-input{
    color: #ffffff;
    background-color: transparent;

    border: 3px solid var(--blue-lavanda);
    border-radius: 10px;

    width: 65px;
    height: 65px;

    font-size: 30px;
    font-weight: 700;
    font-family: 'Roboto';
    text-align: center;

    outline:none;
}